@model Coop_Blog.Models.DetailsModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    string prevPost = ViewBag.PreviousPost;
    string nextPost = ViewBag.NextPost;
}
<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="@Model.Post.MediaPath" alt="..." class="img-fluid"></div>
                    <div class="post-details">
                        <h1>@Model.Post.Title </h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="~/Images/headshot.png" alt="..." class="img-fluid"></div>
                                <div class="title"><span>Jackson Cooper</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="fa fa-clock-o"></i> @Model.Post.Created.ToString("MMM dd, yyyy")</div>
                                <div class="comments"><i class="fa fa-comments"></i> @Model.Post.Comments.Count.ToString()</div>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <div class="comments"><a href="@Url.Action("Edit","BlogPosts",new { id = Model.Post.Id })">Edit</a></div>
                                    <div class="date meta-last"><a href="@Url.Action("Delete","BlogPosts",new { id = Model.Post.Id })">Delete</a></div>
                                }

                            </div>
                        </div>
                        <div class="post-body">
                            <p class="lead">@Model.Post.Abstract</p>
                            <p>@Html.Raw(Model.Post.Body)</p>
                        </div>
                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            <a href=@Url.Action("PreviousPost", "BlogPosts", new {prev=true, id=Model.Post.Id }) class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text">
                                    <strong class="text-primary">Previous Post </strong>
                                    <h6>@prevPost</h6>
                                </div>
                            </a>
                            <a href=@Url.Action("PreviousPost", "BlogPosts", new {prev=false, id=Model.Post.Id }) class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text">
                                    <strong class="text-primary">Next Post </strong>
                                    <h6>@nextPost</h6>
                                </div>
                                <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                            </a>
                        </div>
                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">(@Model.Post.Comments.Count.ToString())</span></h3>
                            </header>
                            @foreach (var comment in Model.Post.Comments)
                            {
                                <div class="comment">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.GetUserId() == comment.AuthorId)
                                            {
                                                <div class="title">
                                                    <strong>@comment.Author.DisplayName</strong><span class="date">@comment.Created.ToString("MMM dd, yyyy '|' h:mm tt") | </span>
                                                    <span class="date"><a href="@Url.Action("Edit","Comments",new { id = comment.Id })">Edit</a> | </span>
                                                    <span class="date"><a href="@Url.Action("Delete","Comments",new { id = comment.Id })">Delete</a></span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="title"><strong>@comment.Author.DisplayName</strong><span class="date">@comment.Created.ToString("MMM dd, yyyy '|' h:mm tt")</span></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="">
                                        <p id="`comment-${comment.Id}`">@comment.Body</p>
                                    </div><hr />
                                </div>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("BlogPostId", Model.Post.Id)
                                @Html.Hidden("Slug", Model.Post.Slug)
                                <div class="add-comment">
                                    <header>
                                        <h3 class="h6">Leave a reply</h3>
                                    </header>
                                    <form action="#" class="commenting-form">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                @Html.TextArea("Body", new { rows = 8, cols = 10, @style = "width:100%; padding:10px", placeholder = "Type Your Comment" })
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <button type="submit" class="btn btn-secondary">Submit Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                        else
                        {
                            <h5 class="topPad">Would you like to join the conversation?</h5>
                            <h6 class="topPad"><a href="@Url.Action("Login","Account",new { title="Manage" })">Log in</a> or <a href="@Url.Action("Register","Account",new { title="Manage" })">Create an account</a></h6>
                        }

                    </div>
                </div>
            </div>
        </main>
        <aside class="col-lg-4">

            <!-- Widget [Latest Posts Widget] -->

            <div class="widget latest-posts">
                <header>
                    <h5>Latest Posts</h5>
                </header>
                @foreach (var post in Model.BlogPosts.Take(3))
                {
                    <div class="blog-posts">
                        <a href=@Url.Action("Details","BlogPosts",new { slug = post.Slug })>
                            <div class="item d-flex">
                                <div class="image"><img src="@post.MediaPath" alt="..." class="img-fluid"></div>
                                <div>
                                    <strong>@post.Title</strong>
                                    <div class="d-flex align-items-center">
                                        <div class="views"><i class="fa fa-clock-o"></i> @post.Created.ToString("MMM dd, yyyy")</div>
                                        <div class="comments"><i class="fa fa-comments"></i> @post.Comments.Count.ToString()</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </aside>
    </div>
</div>