@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Coop_Blog.Models.BlogPost>

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg">
            <div class="container">
                <div class="row">
                    <div class="col-sm text-center">
                    </div>
                </div>
                <div class="row">
                    @if (User.IsInRole("Admin"))
                    {
                        foreach (var post in Model)
                        {
                            <div class="post col-xl-6">
                                <div class="post-thumbnail">
                                    <a href=@Url.Action("Details","BlogPosts",new { slug = post.Slug })>
                                        @if (post.MediaPath != null)
                                        {<img src="@post.MediaPath" alt="..." class="img-fluid">}
                                    </a>
                                </div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                    </div><a href=@Url.Action("Details","BlogPosts",new { slug = post.Slug })>
                                        <h3 class="h4">@post.Title</h3>
                                    </a>
                                    <p class="text-muted">@post.Abstract</p>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a class="author d-flex align-items-center flex-wrap">
                                            <div class="avatar"><img src="~/Images/headshot.png" alt="..." class="img-fluid"></div>
                                            <div class="title"><span>Jackson Cooper</span></div>
                                        </a>
                                        <div class="date"><i class="fa fa-clock-o"></i> @post.Created.ToString("MMM dd, yyyy")</div>
                                        <div class="comments"><i class="fa fa-comments"></i>@post.Comments.Count.ToString()</div>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <div class="comments"><a href="@Url.Action("Edit","BlogPosts",new { id = post.Id })">Edit</a></div>
                                            <div class="date meta-last"><a href="@Url.Action("Delete","BlogPosts",new { id = post.Id })">Delete</a></div>
                                        }
                                    </footer>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var post in Model)
                        {
                            <div class="post col-xl-6">
                                <div class="post-thumbnail">
                                    <a href=@Url.Action("Details","BlogPosts",new { slug = post.Slug })>
                                        @if (post.MediaPath != null)
                                        {<img src="@post.MediaPath" alt="..." class="img-fluid">}
                                    </a>
                                </div>
                                <div class="post-details">
                                    <div class="post-meta d-flex justify-content-between">
                                    </div><a href=@Url.Action("Details","BlogPosts",new { slug = post.Slug })>
                                        <h3 class="h4">@post.Title</h3>
                                    </a>
                                    <p class="text-muted">@post.Abstract</p>
                                    <footer class="post-footer d-flex align-items-center">
                                        <a class="author d-flex align-items-center flex-wrap">
                                            <div class="avatar"><img src="~/Images/headshot.png" alt="..." class="img-fluid"></div>
                                            <div class="title"><span>Jackson Cooper</span></div>
                                        </a>
                                        <div class="date"><i class="fa fa-clock-o"></i> @post.Created.ToString("MMM dd, yyyy")</div>
                                        <div class="comments"><i class="fa fa-comments"></i>@post.Comments.Count.ToString()</div>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <div class="comments"><a href="@Url.Action("Edit","BlogPosts",new { id = post.Id })">Edit</a></div>
                                            <div class="date meta-last"><a href="@Url.Action("Delete","BlogPosts",new { id = post.Id })">Delete</a></div>
                                        }
                                    </footer>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- Pagination -->
                <div class="row">
                    <div class="col text-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr=ViewBag.Search }))
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

